# CSV files
*.csv

# Sample submission file
!sample_submission.csv

# Python cache files
__pycache__/
*.pyc
.ipynb_checkpoints/

# Virtual environment
venv/
env/
.venv/

# IDE
.vscode/
.idea/

# macOS
.DS_Store